USE [master]
GO
/****** Object:  Database [QL_Music]    Script Date: 13/08/2020 3:11:40 SA ******/
CREATE DATABASE [QL_Music]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_Music', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_Music.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_Music_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_Music_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Music].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Music]
GO
/****** Object:  Table [dbo].[BaiHat]    Script Date: 13/08/2020 3:11:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHat](
	[maBaiHat] [nchar](10) NOT NULL,
	[tenBaiHat] [nvarchar](255) NULL,
	[maCaSi] [nchar](10) NULL,
	[pathBaiHat] [nvarchar](255) NULL,
 CONSTRAINT [PK_BaiHat] PRIMARY KEY CLUSTERED 
(
	[maBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiHatVaPlayList]    Script Date: 13/08/2020 3:11:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHatVaPlayList](
	[maBaiHat] [nchar](10) NOT NULL,
	[maPlaylist] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BaiHatVaPlayList] PRIMARY KEY CLUSTERED 
(
	[maBaiHat] ASC,
	[maPlaylist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaSi]    Script Date: 13/08/2020 3:11:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaSi](
	[maCaSi] [nchar](10) NOT NULL,
	[tenCaSi] [nvarchar](50) NULL,
 CONSTRAINT [PK_CaSi] PRIMARY KEY CLUSTERED 
(
	[maCaSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 13/08/2020 3:11:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[maPlaylist] [nchar](10) NOT NULL,
	[tenPlaylist] [nvarchar](50) NULL,
 CONSTRAINT [PK_PlayList] PRIMARY KEY CLUSTERED 
(
	[maPlaylist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BaiHat] ([maBaiHat], [tenBaiHat], [maCaSi], [pathBaiHat]) VALUES (N'BH001     ', N'Duong mot chieu.mp3', N'CS001     ', N'E:\Duong mot chieu.mp3                                                                              ')
INSERT [dbo].[BaiHat] ([maBaiHat], [tenBaiHat], [maCaSi], [pathBaiHat]) VALUES (N'BH0010    ', N'Nguoi-Yeu-Cua-Em-Truong-Thao-Nhi.mp3', NULL, N'E:\Nhạc\Nguoi-Yeu-Cua-Em-Truong-Thao-Nhi.mp3')
INSERT [dbo].[BaiHat] ([maBaiHat], [tenBaiHat], [maCaSi], [pathBaiHat]) VALUES (N'BH0011    ', N'Ex''s Hate Me - B Ray x Masew (Ft AMEE) - Official MV.mp3', NULL, N'E:\Nhạc\Ex''s Hate Me - B Ray x Masew (Ft AMEE) - Official MV.mp3')
INSERT [dbo].[CaSi] ([maCaSi], [tenCaSi]) VALUES (N'CS001     ', N'Sơn Tùng MTP')
INSERT [dbo].[Playlist] ([maPlaylist], [tenPlaylist]) VALUES (N'PL001     ', N'Hay nghe')
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD  CONSTRAINT [FK_BaiHat_CaSi] FOREIGN KEY([maCaSi])
REFERENCES [dbo].[CaSi] ([maCaSi])
GO
ALTER TABLE [dbo].[BaiHat] CHECK CONSTRAINT [FK_BaiHat_CaSi]
GO
ALTER TABLE [dbo].[BaiHatVaPlayList]  WITH CHECK ADD  CONSTRAINT [FK_BaiHatVaPlayList_BaiHat] FOREIGN KEY([maBaiHat])
REFERENCES [dbo].[BaiHat] ([maBaiHat])
GO
ALTER TABLE [dbo].[BaiHatVaPlayList] CHECK CONSTRAINT [FK_BaiHatVaPlayList_BaiHat]
GO
ALTER TABLE [dbo].[BaiHatVaPlayList]  WITH CHECK ADD  CONSTRAINT [FK_BaiHatVaPlayList_Playlist] FOREIGN KEY([maPlaylist])
REFERENCES [dbo].[Playlist] ([maPlaylist])
GO
ALTER TABLE [dbo].[BaiHatVaPlayList] CHECK CONSTRAINT [FK_BaiHatVaPlayList_Playlist]
GO
USE [master]
GO
